* {
  box-sizing: border-box; }

/** 
*	PINK GRID
*	Sass Width Percentage Generator
*
*	$align:			Vertical-align property 											Defaults to Top
* 	$totalcols: 	Number of columns in your grid ( ex: 12 ) 							Defaults to $defaultcols
*	$colspan: 		Number of columns your item spans ( ex: 3 / 12 ) 					Defaults to $defaultcols (100% width)
*	$padside:		Percentage padding left/right of each item.							Defaults to $defaultpad
*	$padtop:		Percentage padding above/below around each item. 					Defaults to 0
*/
/**
*	PINK ROW
*	Sass Row Item Generator
*	Built in conjunction with Pink Grid
*
*	$rowitems:		Number of items per row ( ex. 4 )						Defaults to 1
*	$before:		Alternating row layouts: elements before this row 		Defaults to 0
*	$after:			Alternating row layouts: elements after this row 		Defaults to 0
*/
/**
*	PINK GRID ROW
*	Generate evenly sized and evenly spaced row items
*	Like Magic Grid but without the automatic media queries
*
*	$align:			Vertical-align property 								Defaults to Top
*	$rowitems:		Number of items per row ( ex. 4 )						Defaults to 1
*	$before:		Alternating row layouts: elements before this row 		Defaults to 0
*	$after:			Alternating row layouts: elements after this row 		Defaults to 0
*	$padside:		Percentage padding left/right of each item.				Defaults to $defaultpad
*	$padtop:		Percentage padding above/below around each item. 		Defaults to 0
*/
/**
* 	PINK MAGIC ROW
* 	Complete responsive grid solution for equally sized items per row. 
*	Includes a space to define your media query breakpoints (based on min-width)
*
*	$rowitems:		Number of items per row ( ex. 4 )						Defaults to 1
*	$padside:		Padding to the left/right of each item 					Defaults to $magicside
*	$padtop:		Padding above/below around each item. 					Defaults to $magictop
* 	$align 			Vertical-align property 								Defaults to Top
*	$before:		Alternating row layouts: elements before this row 		Defaults to 0
*	$after:			Alternating row layouts: elements after this row 		Defaults to 0
*/
@font-face {
  font-family: Equestria-Web;
  src: url(fonts/Equestria2.ttf.woff); }
body {
  background: #de1e7e;
  font-size: 16px;
  font-family: "Trebuchet", Sans-Serif;
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Equestria-Web", "HoboStd", "Comic Sans MS";
  color: #de1e7e;
  margin: 0;
  line-height: 1.1;
  padding: 20px; }

p, pre {
  padding: 0 20px; }

h1 {
  color: #fff;
  font-size: 70px;
  text-align: center;
  letter-spacing: 1px; }

h2 {
  font-size: 36px; }

img {
  width: 100%;
  height: auto; }

.title {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto; }

.max {
  width: 100%;
  max-width: 1200px;
  background: #fff;
  margin: 0 auto 20px auto; }

.item, .item2, .item3 {
  border: 1px dotted blue; }

.item {
  display: inline-block;
  margin-right: -0.275em;
  vertical-align: middle;
  width: 33.3333333333%;
  padding: 5% 2%; }
  .item:nth-of-type(4n+1) {
    padding-left: 0; }
  .item:nth-of-type(4n+3) {
    padding-right: 0; }
  .item:nth-of-type(4n+4) {
    display: inline-block;
    margin-right: -0.275em;
    vertical-align: top;
    width: 100%;
    padding: 0 2%;
    padding-left: 0;
    padding-right: 0; }

.item2 {
  display: inline-block;
  margin-right: -0.275em;
  vertical-align: top;
  width: 33.3333333333%;
  padding: 5% 2%; }

.item3 {
  max-height: 200px;
  overflow: hidden; }

.magic {
  display: inline-block;
  vertical-align: top;
  margin-right: -0.275em;
  width: 100%;
  padding: 1em 0; }
  @media only screen and (min-width: 32em) and (max-width: 61em) {
    .magic {
      width: 34%;
      padding-right: 2%; }
      .magic:nth-of-type(11n+3), .magic:nth-of-type(11n+6) {
        padding-right: 0;
        width: 32%; } }
  @media only screen and (min-width: 61em) {
    .magic {
      width: 17%;
      padding-right: 2%; }
      .magic:nth-of-type(11n+6) {
        padding-right: 0;
        width: 15%; } }
  .magic:nth-of-type(11n+7) {
    display: inline-block;
    vertical-align: top;
    margin-right: -0.275em;
    width: 100%;
    padding: 1em 0;
    background-color: #bada55; }
    @media only screen and (min-width: 32em) {
      .magic:nth-of-type(11n+7) {
        width: 51%;
        padding-right: 2%; }
        .magic:nth-of-type(11n+7):nth-of-type(11n+8) {
          padding-right: 0;
          width: 49%; } }
  .magic:nth-of-type(11n+8) {
    display: inline-block;
    vertical-align: top;
    margin-right: -0.275em;
    width: 100%;
    padding: 1em 0;
    background-color: #bada55; }
    @media only screen and (min-width: 32em) {
      .magic:nth-of-type(11n+8) {
        width: 51%;
        padding-right: 2%; }
        .magic:nth-of-type(11n+8):nth-of-type(11n+8) {
          padding-right: 0;
          width: 49%; } }
  .magic:nth-of-type(11n+9) {
    display: inline-block;
    vertical-align: top;
    margin-right: -0.275em;
    width: 100%;
    padding: 1em 0;
    background-color: #00c4ff; }
    @media only screen and (min-width: 32em) and (max-width: 45em) {
      .magic:nth-of-type(11n+9) {
        width: 51%;
        padding-right: 2%; }
        .magic:nth-of-type(11n+9):nth-of-type(11n+10), .magic:nth-of-type(11n+9):nth-of-type(11n+11) {
          padding-right: 0;
          width: 49%; } }
    @media only screen and (min-width: 45em) {
      .magic:nth-of-type(11n+9) {
        width: 34%;
        padding-right: 2%; }
        .magic:nth-of-type(11n+9):nth-of-type(11n+11) {
          padding-right: 0;
          width: 32%; } }
  .magic:nth-of-type(11n+10) {
    display: inline-block;
    vertical-align: top;
    margin-right: -0.275em;
    width: 100%;
    padding: 1em 0;
    background-color: #00c4ff; }
    @media only screen and (min-width: 32em) and (max-width: 45em) {
      .magic:nth-of-type(11n+10) {
        width: 51%;
        padding-right: 2%; }
        .magic:nth-of-type(11n+10):nth-of-type(11n+10), .magic:nth-of-type(11n+10):nth-of-type(11n+11) {
          padding-right: 0;
          width: 49%; } }
    @media only screen and (min-width: 45em) {
      .magic:nth-of-type(11n+10) {
        width: 34%;
        padding-right: 2%; }
        .magic:nth-of-type(11n+10):nth-of-type(11n+11) {
          padding-right: 0;
          width: 32%; } }
  .magic:nth-of-type(11n+11) {
    display: inline-block;
    vertical-align: top;
    margin-right: -0.275em;
    width: 100%;
    padding: 1em 0;
    background-color: #00c4ff; }
    @media only screen and (min-width: 32em) and (max-width: 45em) {
      .magic:nth-of-type(11n+11) {
        width: 51%;
        padding-right: 2%; }
        .magic:nth-of-type(11n+11):nth-of-type(11n+10), .magic:nth-of-type(11n+11):nth-of-type(11n+11) {
          padding-right: 0;
          width: 49%; } }
    @media only screen and (min-width: 45em) {
      .magic:nth-of-type(11n+11) {
        width: 34%;
        padding-right: 2%; }
        .magic:nth-of-type(11n+11):nth-of-type(11n+11) {
          padding-right: 0;
          width: 32%; } }

.row3:nth-of-type(3n+1) {
  padding-left: 0; }
.row3:nth-of-type(3n+3) {
  padding-right: 0; }

#item21 {
  display: inline-block;
  margin-right: -0.275em;
  vertical-align: top;
  width: 16.6666666667%;
  padding: 0 2%; }

#item22 {
  display: inline-block;
  margin-right: -0.275em;
  vertical-align: top;
  width: 66.6666666667%;
  padding: 0 2%; }

#item23 {
  display: inline-block;
  margin-right: -0.275em;
  vertical-align: top;
  width: 16.6666666667%;
  padding: 0 2%; }

#item24 {
  display: inline-block;
  margin-right: -0.275em;
  vertical-align: top;
  width: 166.6666666667%;
  padding: 15px 2%;
  width: 100%;
  padding-left: 0;
  padding-right: 0; }

#item25, #item26, #item27, #item28 {
  display: inline-block;
  margin-right: -0.275em;
  vertical-align: bottom;
  width: 25%;
  padding: 10px 2%; }

.inner-box {
  border: 1px solid #000; }
