* {
  box-sizing: border-box;
  line-height: 1; }

/* 	PINK GRID
* 	Sass Width Percentage Generator
*
*	$align:			Vertical-align property 													Defaults to Top
* 	$totalcols: 	Number of columns in your grid ( ex: 12 ) 									Defaults to $defaultcols
* 	$colspan: 		Number of columns your item spans ( ex: 3 / 12 ) 							Defaults to $defaultcols (100% width)
*	$autopad:		If true, it will automatically calculate side padding based on $rowitems. 	Defaults to False
*	$padside:		If $autopad is false, it will use this value to manually add side padding. 	Defaults to $defaultpad
*	$padtop:		Percentage padding above/below around each item. 							Defaults to $defaultpad
*	$rowitems:		Number of items per row ( ex. 4 ), used with $autopad. 						Defaults to 1
*			
*
*/
@font-face {
  font-family: Equestria-Web;
  src: url(fonts/Equestria2.ttf.woff); }
body {
  background: #de1e7e;
  font-size: 90px;
  font-family: "Trebuchet", Sans-Serif;
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Equestria-Web", "HoboStd", "Comic Sans MS";
  color: #de1e7e;
  margin: 0;
  line-height: 1.1;
  padding: 20px; }

h1 {
  color: #fff;
  font-size: 70px;
  text-align: center;
  letter-spacing: 1px; }

h2 {
  font-size: 36px; }

img {
  width: 100%;
  height: auto; }

.title {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto; }

.max {
  width: 100%;
  max-width: 1200px;
  background: #fff;
  margin: 0 auto 20px auto; }

.item {
  border: 1px dotted blue;
  display: inline-block;
  margin-right: -.275em;
  vertical-align: top;
  width: 33.3333333333%;
  padding: 5% 2%; }
  .item:nth-of-type(4n+4) {
    display: inline-block;
    margin-right: -.275em;
    vertical-align: top;
    width: 100%;
    padding: 1% 1%; }

.item2 {
  border: 1px dotted blue;
  display: inline-block;
  margin-right: -.275em;
  vertical-align: top;
  width: 33.3333333333%;
  padding: 5% 2%; }

.item21 {
  display: inline-block;
  margin-right: -.275em;
  vertical-align: top;
  width: 16.6666666667%;
  padding: 1% 3.3333333333%; }

.item22 {
  display: inline-block;
  margin-right: -.275em;
  vertical-align: top;
  width: 66.6666666667%;
  padding: 1% 3.3333333333%; }

.item23 {
  display: inline-block;
  margin-right: -.275em;
  vertical-align: top;
  width: 16.6666666667%;
  padding: 1% 3.3333333333%; }

.item24 {
  display: inline-block;
  margin-right: -.275em;
  vertical-align: top;
  width: 166.6666666667%;
  padding: 1% 1%;
  width: 100%; }

.item25, .item26, .item27, .item28 {
  display: inline-block;
  margin-right: -.275em;
  vertical-align: bottom;
  width: 25%;
  padding: 5% 2%; }

.inner-box {
  border: 1px solid #000; }
